<h1>Your Cart</h1>

<% if @cart.empty? %>
	<p>Your cart is currently empty.</p>
<% else %>
	<%= link_to 'Empty Your Cart', cart_clear_path %>
<% end %>
<br><br><br>

<% total = 0 %>

<ul>
	<% @cart.each do | id, quantity | %>
		<% product = Product.find_by_id(id) %>

		<li>
			<%= link_to product.title, product %>
			<p><%= image_tag product.photo.url(:small) %></p>
			<p><%= product.description %></p>
			<p><%= number_to_currency(product.price, :unit => '$') %></p>
			<p>Quantity: <%= quantity %></p>
		</li>

		<% total += quantity * product.price %>

	<% end %>

	<p><b>Total: <%= number_to_currency(total, :unit => '$') %></b></p>

</ul>
