
<div id="nivo_wrapper">
	<%= nivo_slider id: "slider" do %>
		<%= image_tag "slider/1.jpg" %>
		<%= image_tag "slider/2.jpg" %>
		<%= image_tag "slider/3.jpg" %>
		<%= image_tag "slider/4.jpg" %>
		<%= image_tag "slider/5.jpg" %>
		<%= image_tag "slider/6.jpg" %>
	<% end %>
</div>

<div id="search_bar">
	<%= form_tag(products_path, :method => "get", id: "search-form-home") do %>
	<%= text_field_tag :search, params[:search], placeholder: "Search products" %>
	<%= submit_tag "Search", :name => nil %>
	<% end %>
</div>

<table style="margin: 0 auto;">
	<tbody>
		<tr>
	<% Product.where(category_id: 2).order("created_at DESC").each do |product| %>
		<td><%= link_to (image_tag product.photo.url(:small)), product %></td>
	<% end %>
		</tr>
	</tbody>
</table>




<script>
	$('#slider').nivoSlider();
</script>
