<div id="search_bar">
	<%= form_tag(products_path, :method => "get", id: "search-form-home") do %>
	<%= text_field_tag :search, params[:search], placeholder: "Search products" %>
	<%= submit_tag "Search", :name => nil %>
	<% end %>
</div>

<div id="nivo_wrapper">
	<%= nivo_slider id: "slider" do %>
		<%= image_tag "slider/1.jpg" %>
		<%= image_tag "slider/2.jpg" %>
		<%= image_tag "slider/3.jpg" %>
		<%= image_tag "slider/4.jpg" %>
		<%= image_tag "slider/5.jpg" %>
		<%= image_tag "slider/6.jpg" %>
	<% end %>
</div>


<script>
	$('#slider').nivoSlider();
</script>
