<p id="notice"><%= notice %></p>

<%= render 'search' %>

<h1>Listing Products</h1>

<br>

<%= will_paginate @products %>
<% if @products.present? %>

<table>
	<thead>
	<tr>
		<th>Title</th>
		<th>Description</th>
		<th>Image</th>
		<th>Price</th>
		<th>Category</th>
		<th colspan="3"></th>
	</tr>
	</thead>

	<tbody>
	<% @products.each do |product| %>
		<tr>
		<td><%= product.title %></td>
		<td><%= product.description %></td>
		<td><%= image_tag product.photo.url(:small) %></td>
		<td><%= number_to_currency(product.price, :unit => '$') %></td>
		<td><%= link_to product.category.name, category_path(product.category) %></td>
		<td><%= link_to 'Show', product %></td>
		<% if current_user.try(:admin?) %>
			<td><%= link_to 'Edit', edit_product_path(product) %></td>
			<td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<% end %>
		<td><a href="/cart/<%= product.id %>">Add To Cart</a></td>
		</tr>
	<% end %>
	</tbody>
</table>

<% else %>
	<% if params[:search].present? %>
		<p>There are no products containing the term(s) <b><%= params[:search] %></b>.</p>
	<% else %>
		<p>There are no any products found in database.</p>
	<% end %>
<% end %>

<br>
<% if current_user.try(:admin?) %>
	<%= link_to 'New Product', new_product_path %>
<% end %>
