<!DOCTYPE html>
<html>
<head>
	<title>SCOR</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

<nav id="nav">
	<div id="page_nav">
		<%= link_to "Home", root_path %>
		<%= link_to "Shop", products_path %>
		<%= link_to "About", page_about_path %>
		<%= link_to "FAQs", page_faqs_path %>
		<%= link_to "Contact", page_contact_path %>
	</div>

	<div id="sign_in">
		<% if current_user.try(:admin?) %>
			<span id="admin_notification">Browsing with Administrative Privileges</span>
			<%= link_to "[ Admin Panel ]", rails_admin_path %>
		<% end %>
		<% if user_signed_in? %>
			<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
		<% else %>
			<%= link_to "Sign In", new_user_session_path %>
			<%= link_to "Sign Up", new_user_registration_path %>
		<% end %>
	</div>
</nav>

<nav id="nav_cat">
	<div id="nav_cat_helper">
	<% if @nav_cats.any? %>
		<% @nav_cats.each do |category| %>
			<%= link_to category.name, category %>
		<% end %>
	<% else %>
		<%= link_to "[ No Categories ]", rails_admin_path %>
	<% end %>
	</div>
</nav>

<div id="main_wrap">
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

	<%= yield %>
</div>

</body>
</html>
